{% extends "encyclopedia/layout.html"%}
{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    {% if topic == "nesyshtestvusasht_topic" %}
    <p style="color: white;">You are welcome. This is invisible text</p>
    {% else %}
    <b>{{ topic }}</b> is not in the Wiki. Here is new topic

    <p>Do you want to add <b>{{ topic }}</b> to Wiki?</p>
    {% endif %}
    

    <P></P>
    <input type="submit" name="ClickHere" value="Add new">
    <!-- <p>Write new topic to add:</p>
    <form action="">
        <input type="text" name="NewTopic">
        <input type="submit" name="ClickHere" value="Add new topic">
    </form>

    <form action="/wiki/Git" method="post">
        {% csrf_token %}
        <label for="your_name">Your name in the HTML form: </label>
        <input id="your_name" type="text" name="your_name" value="{{ current_name }}">
        <input type="submit" value="OK in the HTML">
    </form>

    {{ form_from_Django }}
    <input type="submit" value="OK in the Django form" -->


{% endblock %}